<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdy.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.zdy.model.SysDept">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_info" jdbcType="VARCHAR" property="deptInfo" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, dept_name, dept_info
  </sql>
  
  
  
  <!--查询所有部门  -->
  
  <select id="selectAllDeptInfo" resultMap="BaseResultMap">
	  SELECT d.id,d.dept_name,d.dept_info 
	  FROM sys_dept d
  </select>
  
  <!--通过id查询部门  -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 通过id删除数据,直接用插件自动生成数据 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
   
	<!--添加部门信息  -->
	<!-- INSERT INTO sys_dept VALUES(5,"测试部","测试数据"); -->
	<insert id="insertDeptInfo" parameterType="com.zdy.model.SysDept">
		insert into sys_dept values(
			null,
			#{dept.deptName},
			#{dept.deptInfo}
		)
		
	</insert>
  
	<!-- 通部门id修改部门信息=====修改了用的自动生成的代码 -->
	<update id="updateDeptInfoById" parameterType="com.zdy.model.SysDept">
		update sys_dept
		<set>
			<if test="dept.deptName != null and dept.deptName!= '' " >
				dept_name = #{dept.deptName,jdbcType=VARCHAR},
			</if>
			<if test="dept.deptInfo != null and dept.deptInfo != '' ">
				dept_info = #{dept.deptInfo,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{dept.id,jdbcType=INTEGER}
	</update>
  
  
  
  <!-- 下面是自动生成=================================== -->
  
  
  
  <insert id="insert" parameterType="com.zdy.model.SysDept">
    
    insert into sys_dept (id, dept_name, dept_info
      )
    values (#{id,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{deptInfo,jdbcType=VARCHAR}
      )
  </insert>
  
  
  <!-- ==============添加部门信息不好用================== -->
  <insert id="insertSelective" parameterType="com.zdy.model.SysDept">
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="deptInfo != null">
        dept_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptInfo != null">
        #{deptInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.zdy.model.SysDept">
    
    update sys_dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptInfo != null">
        dept_info = #{deptInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.zdy.model.SysDept">
    
    update sys_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      dept_info = #{deptInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>